<div role="banners" class="swiper-container banners">
    <div class="swiper-wrapper">
        <a class="banner swiper-slide">
            <img class="loaded lazy" src="/public/tour_res/img/banner1.jpg">
        </a>
        <a class="banner swiper-slide">
            <img class="loaded lazy" src="/public/tour_res/img/banner2.jpg">
        </a>
        <a class="banner swiper-slide">
            <img class="loaded lazy" src="/public/tour_res/img/banner3.jpg">
        </a>
    </div>
    <div class="pagination">
        <span class="swiper-pagination-switch"></span>
        <span class="swiper-pagination-switch"></span>
        <span class="swiper-pagination-switch"></span>
    </div>
</div>