.login-bg {
	background-color: #ccc; 
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 100%;
	height:100%;
	position:absolute;
	z-index: 2;
}

.login-frame {
	width: 430px;
	position: absolute;
	left: 50%;
	top: 50%; 
	margin-left: -215px;
	margin-top: -155px;
	background-color: #fff; 
	z-index: 999;
}

.login-frame .head {
	background: #428bca; 
	height: 32px;
}

.login-frame .head a .close-btn {
	cursor: pointer;
	width: 32px;
	height: 32px;
	background: url(../../img/icon/icon-close.png) no-repeat;
	background-position-y: 0px;
	float: right;
}

.login-frame .head a:hover .close-btn {
	background-position-y: -36px;
}

.login-frame .body {
	padding: 15px 45px;
}